/* Make by: 62160082 Naaka punparich */

section {
  padding: 5vh 0;
}

a,
a:hover {
  color: black;
}

.body {
  font-family       : 'Prompt', sans-serif !important;
  font-size         : 16px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width   : none;
  /* Firefox */
  margin-top        : 3% !important;
  font-weight       : unset;
}

.body::-webkit-scrollbar {
  display: none;
}

.header-break {
  overflow      : hidden;
  text-align    : center;
  font-size     : 35px;
  font-weight   : 700;
  text-transform: uppercase;
  margin-bottom : 30px;
  padding       : 15px;
}

.header-break:before,
.header-break:after {
  background-color: #000;
  content         : "";
  display         : inline-block;
  height          : 2px;
  position        : relative;
  vertical-align  : middle;
  width           : 50%;
}

.header-break:before {
  right      : 0.5em;
  margin-left: -50%;
}

.header-break:after {
  left        : 0.5em;
  margin-right: -50%;
}

.align-center {
  text-align: center;
}

.float-right {
  float: right;
}

.counter-classic {
  text-align: center;
}

.counter-classic-number {
  font-size     : 75px;
  font-weight   : 300;
  margin-bottom : 10px;
  letter-spacing: 0.025em;
  margin-bottom : 7px;
}

.counter-classic-number>* {
  display: inline-block;
}

.counter-classic-number .symbol {
  font-size     : 40px;
  letter-spacing: 0;
}

.counter-classic-title {
  font-size    : 30px;
  font-weight  : 300;
  line-height  : 30px;
  margin-bottom: 50px;
  color        : #000000;
}

.row-max-100 {
  width    : 100% !important;
  max-width: 100% !important;
  margin   : 1.5% 0 !important;
}

.counter {
  padding-top   : 50px;
  padding-bottom: 40px;
}

.image {
  position: relative;
  width   : 100%;
  cursor  : pointer;
}

.image__img {
  display: block;
  width  : 100%;
}

.image__overlay {
  position       : absolute;
  top            : 0;
  left           : 0;
  width          : 100%;
  height         : 100%;
  background     : rgba(0, 0, 0, 0.6);
  color          : #ffffff;
  font-family    : "Quicksand", sans-serif;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  opacity        : 0;
  transition     : opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: #00000040;
}

.image__overlay>* {
  transform : translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover>* {
  transform: translateY(0);
}

.image__title {
  font-size  : 2em;
  font-weight: bold;
}

.image__description {
  font-size : 1.25em;
  margin-top: 0.25em;
  color     : #fff;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: whitesmoke;
}

.w3-btn {
  width: 150px;
}

input,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing   : border-box;
  box-sizing        : border-box;
}

label {
  font-size   : 14px;
  line-height : 1.42857;
  color       : #aaa;
  font-weight : 400;
  padding-left: 15px;
}

.label {
  padding-left: unset;
}

.form-control {
  border       : 0px;
  border-radius: 0px;
}

input {
  border             : 0px;
  border-bottom      : 1px solid;
  border-bottom-color: #ced2d7;
}

input:hover #next_btn {
  background-color: #448855;
}

a {
  text-decoration: none;
}

ul.breadcrumb {
  padding   : 10px 16px;
  list-style: none;
}

ul.breadcrumb li {
  display  : inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color  : black;
  content: ">";
}

ul.breadcrumb li a {
  color          : #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color          : #01447e;
  text-decoration: underline;
}

#next_btn {
  float: right;
}

.profile-pic-div {
  height       : 200px;
  margin       : auto;
  width        : 200px;
  position     : relative;
  border-radius: 50%;
  overflow     : hidden;
  border       : 1px solid gray;
}

.profile-pic-div img {
  height: 200px;
}

#photo {
  height: 100%;
  width : 100%;
}

#file {
  display: none;
}

#upload_btn {
  height     : 36px;
  width      : 100%;
  position   : absolute;
  bottom     : -4%;
  left       : 45%;
  transform  : translate(-50%);
  text-align : center;
  background : rgba(0, 0, 0, 0.7);
  color      : wheat;
  line-height: 12px;
  font-size  : 15px;
  font-family: sans-serif;
  cursor     : pointer;
  padding-top: 10px;
}

.bg {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
}

#card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform : scale(1.05);
}

#padding {
  padding-right: 2%;
}

.buttonIN {
  padding         : 15px 25px;
  font-size       : 24px;
  text-align      : center;
  cursor          : pointer;
  outline         : none;
  color           : #fff;
  background-color: #42a0ff;
  border          : none;
  border-radius   : 15px;
  box-shadow      : 0 9px #999;
}

.buttonIN:hover {
  background-color: #007af4;
}

.buttonIN:active {
  background-color: #007af4;
  box-shadow      : 0 5px #666;
  transform       : translateY(4px);
}

.buttonOUT {
  padding         : 15px 25px;
  font-size       : 24px;
  text-align      : center;
  cursor          : pointer;
  outline         : none;
  color           : #fff;
  background-color: #ff3c3c;
  border          : none;
  border-radius   : 15px;
  box-shadow      : 0 9px #999;
}

.buttonOUT:hover {
  background-color: #d90000;
}

.buttonOUT:active {
  background-color: #d90000;
  box-shadow      : 0 5px #666;
  transform       : translateY(4px);
}

.buttonSUC {
  padding         : 15px 25px;
  font-size       : 24px;
  text-align      : center;
  cursor          : pointer;
  outline         : none;
  color           : #fff;
  background-color: #04AA6D;
  border          : none;
  border-radius   : 15px;
}

.form-control-custom {
  min-height: 43px;
}

.btn-custom {
  background-color: #4169E1;
  color           : #ffffff;
  min-height      : 43px;
  padding         : 0px 30px;
}

.btn-custom:hover {
  background-color  : #6495ED;
  color             : #ffffff;
  -webkit-transition: background-color 200ms linear;
  -ms-transition    : background-color 200ms linear;
  transition        : background-color 200ms linear;
}

.pagination {
  margin: 30px auto;
}

.link-custom {
  font-size      : 22px !important;
  color          : #212529;
  padding        : 10px 20px;
  text-decoration: none;
}

.link-custom:hover {
  color          : #4169E1;
  text-decoration: none;
}

.img-height {
  height: 250px;
}

#card:hover h1 {
  color: white;
}


.services-icon-wap {
  border-radius: 2.25rem;
}

.services-icon-wap:hover {
  transition: all 0.3s ease-in-out;
  background: #69bb7e;
}

#card2 {
  box-shadow   : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition   : 0.3s;
  border-radius: 2.25rem;
}

#card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform : scale(1.05);

}

#card2:hover h1 {
  color: white;
}

.h2-style {
  padding-top   : 2%;
  padding-bottom: 5%;
  font-size     : 70px;
  text-shadow   : 2px 2px 5px rgba(0, 0, 0, 0.685);
  font-weight   : bold;
}

.colorchange {
  color: #343a40 !important;
}

.colorchange :hover {
  color: #343a40 !important;
}

/* topbar or navbar */

nav {
  background: #fff;
  padding   : 0px 10px;
  position  : fixed;
  width     : 100%;
  z-index   : 999;
  margin-top: -3%;
}

ul {
  list-style-type: none;
  margin-bottom  : 0rem;
}

.h4 {
  padding-top: 10px;
}

.a {
  color          : black;
  text-decoration: none !important;
}

a:hover {
  color          : #27b03e !important;
  text-decoration: none;
}

.logo a:hover {
  text-decoration: none;
}

.menu li {
  font-size  : 16px;
  padding    : 15px 5px;
  white-space: nowrap;
}

.logo a,
.toggle a {
  font-size: 20px;
}

/* Mobile Menu */

.menu {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
  align-items    : center;
}

.toggle {
  order: 1;
}

.item {
  width     : 100%;
  text-align: center;
  order     : 2;
  display   : none;
}

.item.active {
  display: block;
}

/* Tablet Menu */

@media all and (min-width: 768px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .toggle {
    flex      : 1;
    text-align: right;
  }
}

/* Desktop Menu */

@media all and (min-width: 900px) {
  .item {
    display: block;
    width  : auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .menu li {
    padding: 15px 10px;
  }
}

@media all and (max-width: 500px) {
  .d-block {
    margin-top: 65px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}

@media all and (max-width: 320px) {
  .carousel-inner {
    margin-top: 60px;
  }

  .section-com {
    margin-top: 100px;
  }
}

@media all and (max-width: 360px) {
  .d-block {
    margin-top: 80px;
  }

  .section-com {
    margin-top: 50px;
  }

}

.card {
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.05);
}

p {
  font-size: 18px;
}

.footer-top {
  margin-top   : 40px;
  margin-bottom: 40px;
}

.dropdown-item:hover {
  background-color: #27b03e !important;
  color           : #fff !important;
}

.a:hover {
  color     : #27b03e !important;
  transition: 0.3s;
}

.card-custom {
  border-radius: 20px;
}

.card-img-top {
  border-top-left-radius : 20px;
  border-top-right-radius: 20px;
  height                 : 300px;
  object-fit             : cover;
}

.i {
  position     : relative;
  display      : block;
  width        : 1410px;
  height       : 500px;
  overflow     : hidden;
  border-radius: 5px;
  margin: 0px auto;
}

.i:before,
.i:after {
  content        : '←';
  position       : absolute;
  top            : 50%;
  left           : 1rem;
  z-index        : 2;
  width          : 2rem;
  height         : 2rem;
  background     : dodgerblue;
  color          : white;
  border-radius  : 50%;
  display        : flex;
  justify-content: center;
  align-items    : center;
  pointer-events : none;
}

.i:after {
  content: '→';
  left   : auto;
  right  : 1rem;
}

/* I haven't found a way for IE and Edge to let me style inputs that way */
.input {
  appearance         : none;
  -ms-appearance     : none;
  -webkit-appearance : none;
  display            : block;
  width              : 100%;
  height             : 100%;
  position           : absolute;
  top                : 0;
  left               : 0;
  border-radius      : 5px;
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: center;
  transform          : translateX(100%);
  transition         : transform ease-in-out 400ms;
  z-index            : 1;
}

.input:focus {
  outline: none;
}

.input:after {
  content         : attr(title);
  position        : absolute;
  top             : 1rem;
  left            : 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  color           : white;
  padding         : .5rem;
  font-size       : 1rem;
  border-radius   : 5px;
}

.input:not(checked):before {
  content      : '';
  position     : absolute;
  width        : 2rem;
  height       : 2rem;
  border-radius: 50%;
  top          : 50%;
  left         : calc(-100% + 1rem);
}

.input:checked:before {
  display: none;
  left   : 1rem;
}

.input:checked {
  transform : translateX(0);
  z-index   : 0;
  box-shadow: -5px 10px 20px -15px rgba(0, 0, 0, 1);
}

.input:checked+input:before {
  left: -3rem;
}

.input:checked+.input~.input:before {
  display: none;
}

@media all and (min-width: 340px) {
  .i {
    width: 300px;
  }

  .breadcrumb {
    padding-top: 20px !important;
  }
}

@media all and (min-width: 370px) {
  .i {
    width: 330px;
  }

  .breadcrumb {
    padding-top: 20px !important;
  }
}

@media all and (min-width: 500px) {
  .i {
    width: 468px;
  }

  .breadcrumb {
    padding-top: 20px !important;
  }
}

@media all and (max-width: 768px) {
  .i {
    /* width: 700px; */
  }
  .card-custom{
    /* height: 55vh; */
  }
}

@media all and (max-width: 992px) {
  .card-custom{
    height: 550px;
  }
}

@media all and (min-width: 1000px) {
  .i {
    width: 930px;
  }
}

@media all and (min-width: 1200px) {
  .i {
    width: 100%;
  }
}

/* @media all and (min-width: 1200px) {
  .i {
    width: 1170px;
  }
} */

@media all and (min-width: 1400px) {
  .i {
    width: 1410px;
  }
}

@media all and (min-width: 1920px) {
  .i {
    width : 1410px;
    height: 600px;
  }
}

.li-padding {
  padding        : 15px;
  font-size      : 18px;
  list-style-type: disc;
}

.card-img-wrapper {
  display: block;
  width  : 100%;
  height : 250px;
}

.nav-bottom-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.radius {
  border-top-left-radius    : 25px;
  border-top-right-radius   : 25px;
  border-bottom-left-radius : 25px;
  border-bottom-right-radius: 25px;
}

#more_text {
  display: none;
}

.read-more-style {
  position        : relative;
  top             : -60px;
  cursor          : pointer;
  width           : 100%;
  height          : 50px;
  color           : inherit;
  background-color: transparent;
  border-radius   : 10px;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 10%));
  text-align      : center;
  padding-top     : 15px;

}

.read-more-style:hover {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 20%));
  font-weight     : bold;
}

.start-end-date {
  display  : inline;
  font-size: 16px;
  float    : right;
}

@media all and (max-width: 1400px) {
  .start-end-date {
    display: inline-block;
    float  : none;
  }
}